version: '3'

services:
  aws:
    image: localstack/localstack:latest
    ports:
      - "4563-4584:4563-4584"
      - "8055:8080"
    container_name: aws
    environment:
      - SERVICES=s3,dynamodb,sqs,sns

  aws-init:
    image: aws-init
    build:
      context: resources/aws
    container_name: aws-init

  snapshot-sender:
    image: snapshot-sender
    build:
      context: .
    container_name: snapshot-sender
    depends_on:
      - mock-nifi
      - pushgateway
    environment:
      - CORRELATION_ID=123
      - TOPIC_NAME=db.core.claimant
      - DELETE_METRICS=false

  snapshot-sender-no-exports:
    image: snapshot-sender
    build:
      context: .
    container_name: snapshot-sender-no-exports
    depends_on:
      - mock-nifi
      - pushgateway
    environment:
      - CORRELATION_ID=321
      - TOPIC_NAME=db.database.empty
      - ADDITIONAL_SPRING_ACTIVE_PROFILES=noOpReader
      - DELETE_METRICS=false

  snapshot-sender-sent:
    image: snapshot-sender
    build:
      context: .
    container_name: snapshot-sender-sent
    depends_on:
      - mock-nifi
      - pushgateway
    command: >-
      --send.success.indicator=true
    environment:
      - CORRELATION_ID=111
      - TOPIC_NAME=db.database.sent
      - ADDITIONAL_SPRING_ACTIVE_PROFILES=noOpReader
      - DELETE_METRICS=false

  dks:
    image: dks
    ports:
      - "8091:8443"
      - "8101:8080"
    build:
      context: resources/dks
      dockerfile: Dockerfile
    container_name: dks

  mock-nifi:
    image: mock-nifi
    build:
      context: resources/nifi
      dockerfile: Dockerfile
    ports:
      - "5443:5443"
    volumes:
      - shared-volume:/data/output
    container_name: mock-nifi
    environment:
      KEYSTORE_PASSWORD: changeit
      TRUSTSTORE_PASSWORD: changeit
      TLS_KEY_PASSWORD: changeit
      TLS_KEY_ID: cid
      TLS_CERT_ID: self
      TLS_CACERT_ID: mock-nifi

  sender-integration-test:
    image: sender-integration-test:latest
    build:
      context: .
      dockerfile: resources/tests/Dockerfile
    container_name: sender-integration-test
    volumes:
      - shared-volume:/data/output
    depends_on:
      - mock-nifi
    command: "gradle --rerun-tasks integration"

  prometheus:
    build:
      context: images/prometheus
    container_name: prometheus

  pushgateway:
    image: prom/pushgateway
    ports:
      - "9091:9091"
    container_name: pushgateway

volumes:
  shared-volume:
